/* standard css */

body {
  text-rendering: optimizeLegibility;
  font-family:'Verdana';
}

.logo {
  margin: 0 auto;
  width:300px;
}

.sidebox {
  margin: 0 auto;
  background:rgba(30, 38, 86, 1);
  width: 500px;
  height: 500px;

}