/* standard css */

body {
  text-rendering: optimizeLegibility;
  font-family:'Verdana', sans-serif;
}

img.logo {
  display: block;
}

.sidebox {
  /*background:rgb(50, 58, 96);*/
  background:rgb(255,255,255);
  color:rgb(0,0,0);
  width: 385px;
  height: 385px;
  position:relative;
  left:115px;
  top:-60px;
}

.sidebox:hover{
  background:rgb(0,0,0);
  color:rgb(255, 255, 255);
}

.navrow {
  margin:0;
  padding:0;
  height:77px;
  width:385px;
  font-size:0px;
  position:relative;
}

.navrow li {
  font-size:70px;
  width:77px;
  text-align:center;
  display:inline-block;
}

.navrow .diag {
  color:#d00;
}

.footer {
  text-align:center;
  margin: 0 auto;
}