/* standard css */

body {
  text-rendering: optimizeLegibility;
  font-family:'Verdana', sans-serif;
}

img.logo {
  display: block;
}

.sidebox {
  background:rgb(50, 58, 96);
  color:rgb(255,255,255);
  width: 200px;
  height: 200px;
}

.sidebox:hover{
  background:rgb(255,255,255);
}

.navrow {
  margin:0;
  padding:0;
  height:40px;
  width:200px;
  font-size:0px;
  position:relative;
}

.navrow li {
  font-size:30px;
  width:40px;
  text-align:center;
  display:inline-block;
}

.navrow .diag {
  color:#d00;
}

.footer {
  text-align:center;
  margin: 0 auto;
}